{% extends "base.html" %}

{% block content %}
<br>
<br><br><br><br>
<body style="background: url('/static/images/12.jpeg')top center; background-size: cover;">
</body>
<div class="container" style="background: blue;">
    <div class="jumbotron" style="background: SteelBlue;">
        <h1 align="center">Welcome to Stockify </h1>
        <h5 align="center">A place to track all the major stocks</h5>

    </div>
</div>
<!--The script below with check if the user is logged in and raise an alert every 3 minutes.-->
<script type="text/javascript">
         var isLoggedIn = {{ request.user.is_authenticated|yesno:"true,false" }}
         console.log(isLoggedIn)
  var popInterval = setInterval(function() {
    if (!isLoggedIn) {
       alert("Please log in to track stocks")
    } else {
        removeInterval()
    }
  }, 180 * 1000);


function removeInterval() {
    clearInterval(popInterval)
}
 </script>
{% endblock content %}