{% extends 'base.html' %}
{% load humanize %}

{% block title %}
Stock Listing
{% endblock %}

{% block content %}
    <br>
    <h2>Stock List</h2>
    <hr>

    <form method="get">
        <div class="row">
            <div class="col-md-3">
                {{symbol_filter.form}}
                </div>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <br>
    {% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    {% endblock %}

    {% if data %}
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Listed on Exchange</th>
            <th scope="col">Current Price</th>
            <th scope="col">52 Week High</th>
            <th scope="col">52 Week Low</th>
            <th scope="col">Company</th>
            <th scope="col">Market Cap.</th>
          </tr>
        </thead>
        <tbody>
            {% for stock in data %}
            <tr>
                <td><a href="{% url 'stock_detail' stock.slug %}">{{stock.symbol}}</a></td>
                <td>{{stock.listed_on_exchange}}</td>
                <td>{{stock.current_price}}</td>
                <td>{{stock.fifty_two_week_high}}</td>
                <td>{{stock.fifty_two_week_low}}</td>
                <td>{{stock.name}}</td>
                <td>{{stock.market_cap}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <br><br><br>

    {% endif %}
{% endblock %}