<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">

<head>
    <title>Log in</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" rel="stylesheet">
     <!-- CSS Files -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>

</head>
<body>

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">

            <div class="d-flex justify-content-center">
                <h4 id="form-title">Log in</h4>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form action="" method="POST" id="login-form" class="login-form">
                    <figure aria-hidden="true">
                      <div class="person-body"></div>
                        <div class="neck skin"></div>
                         <div class="head skin">
                         <div class="eyes"></div>
                             <div class="mouth"></div>
                                </div>
                         <div class="hair"></div>
                            <div class="ears"></div>
                          <div class="shirt-1"></div>
                         <div class="shirt-2"></div>
                       </figure>
                    <div aria-live="polite" class="error-message" id="error-message"></div>

                    {% csrf_token %}
                    <div class="input-group mb-3">
                      <label class="required">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user">Username</i></span>
                        </div>
                        <input class="form-control" name="username" placeholder="Mobile Number" type="text">
                    </label>
                    </div>
                    <div class="input-group mb-2">
                      <label class="required">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key">Password</i></span>
                        </div>
                        <input class="form-control" name="password" placeholder="Password" type="password">
                      </label>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="Login" id="submit">
                    </div>

                </form>

            </div>

            {% for message in messages %}
            <p id="messages">{{message}}</p>
            {%endfor%}
        </div>
    </div>
</div>


</body>
</html>