<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Stockify <i class="fa-solid fa-arrow-trend-up"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        {% if request.user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'stocks' %}">Stocks</a>
            </li>
        </ul>
        {% endif %}
        <span>
            {% if request.user.is_authenticated %}
            Welcome, <i>{{user.first_name}}</i>
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>

            {% else %}
            <div class="login__right" style="padding-left: 981px;">
                <a href="{% url 'login' %}" class="btn btn-secondary">Log in</a>
                <a href="{% url 'registration' %}" class="btn btn-info ">Sign up</a>
            </div>

            {% endif %}

        </span>
    </div>
</nav>