<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">

<head>
    <title>Sign Up</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" rel="stylesheet">
     <!-- CSS Files -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>

</head>
<body>
<br><br>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">

            <div class="d-flex justify-content-center">
                <h4 id="form-title">Sign up</h4>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form action="" method="POST" id="login-form" class="login-form">
                    <figure aria-hidden="true">
                      <div class="person-body"></div>
                        <div class="neck skin"></div>
                         <div class="head skin">
                         <div class="eyes"></div>
                             <div class="mouth"></div>
                                </div>
                         <div class="hair"></div>
                            <div class="ears"></div>
                          <div class="shirt-1"></div>
                         <div class="shirt-2"></div>
                       </figure>
                    <div aria-live="polite" class="error-message" id="error-message"></div>

                    {% csrf_token %}
                    <div class="input-group mb-3">
                      <div align="center">
                          {% for field in form %}
                          <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
<!--                            {% if field.help_text %}-->
<!--                              <small style="color: grey">{{ field.help_text }}</small>-->
<!--                            {% endif %}-->
                            {% for error in field.errors %}
                              <p style="color: red">{{ error }}</p>
                            {% endfor %}
                          </p>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <input class="btn login_btn" type="submit" value="Sign up" id="submit">
                    </div>

                </form>

            </div>
            {% for message in messages %}
            <p id="messages">{{message}}</p>
            {%endfor%}
        </div>
    </div>
</div>


</body>
</html>