{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Stock Summary
            </div>
            <br>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <tr>
                            <th>Symbol</th>
                            <td>{{data.symbol}}</td>
                        </tr>
                        <tr>
                            <th>Exchange</th>
                            <td>{{data.listed_on_exchange}}</td>
                        </tr>
                        <tr>
                            <th>Current Price</th>
                            <td>{{data.current_price}}</td>
                        </tr>
                        <tr>
                            <th>52 Week High</th>
                            <td>{{data.fifty_two_week_high}}</td>
                        </tr>
                        <tr>
                            <th>52 Week Low</th>
                            <td>{{data.fifty_two_week_high}}</td>
                        </tr>
                        <tr>
                            <th>Company</th>
                            <td>{{data.name}}</td>
                        </tr>
                         <tr>
                            <th>Market Cap.</th>
                            <td>{{data.market_cap}}</td>
                        </tr>
                         <tr>
                            <th>Description</th>
                            <td>{{data.description}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<video width="400" controls> <source src="/static/media/{{data.slug}}.mp4" type="video/mp4"></video>

{% endblock %}